<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{config.get('title', 'Swagger UI')}}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/flasgger_static/swagger-ui.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='swagger-custom.css') }}"
    />
    <link
      rel="icon"
      type="image/png"
      href="/flasgger_static/favicon-32x32.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      type="image/png"
      href="/flasgger_static/favicon-16x16.png"
      sizes="16x16"
    />
    <style>
      html {
        box-sizing: border-box;
        overflow: -moz-scrollbars-vertical;
        overflow-y: scroll;
      }

      *,
      *:before,
      *:after {
        box-sizing: inherit;
      }

      body {
        margin: 0;
        padding: 0;
        background: #fafafa;
      }
    </style>
  </head>

  <body>
    <div id="swagger-ui"></div>
    <script src="/flasgger_static/swagger-ui-bundle.js"></script>
    <script src="/flasgger_static/swagger-ui-standalone-preset.js"></script>
    <script>
      window.onload = function() {
          const ui = SwaggerUIBundle({
              url: "{{specs_route}}",
              dom_id: '#swagger-ui',
              deepLinking: true,
              presets: [
                  SwaggerUIBundle.presets.apis,
                  SwaggerUIStandalonePreset
              ],
              plugins: [
                  SwaggerUIBundle.plugins.DownloadUrl
              ],
              layout: "StandaloneLayout",
              {% if config %}
                  {% for key, value in config.items() %}
                      {% if key != 'swagger_ui_config' %}
                          {{key}}: {{value|tojson}},
                      {% endif %}
                  {% endfor %}
                  {% if config.get('swagger_ui_config') %}
                      {% for key, value in config['swagger_ui_config'].items() %}
                          {{key}}: {{value|tojson}},
                      {% endfor %}
                  {% endif %}
              {% endif %}
          })

          window.ui = ui
      }
    </script>
  </body>
</html>
